# env.dev - development environment
# env.prod - production environment

# App
SHORTER_LISTEN_PORT=8090
SHORTER_BASE_URL=http://localhost:8090
SHORTER_NODE_ID=1

# Database
DB_HOST=postgres
DB_USER=app
DB_PASSWORD=change_me_to_random_password
DB_DATABASE=app
DB_PORT=5432
